*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 700px;
    width: 604px;
    border: solid red;
    background: yellow;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 200px 400px;
    gap: 2px;
    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";
}

.box{
    background: aqua;
    border: solid black;
}
#header{
    grid-area: hd;
}

#section{
    grid-area: side;
}

#main{
    grid-area: main;
}
#footer{
    grid-area: ft;
}

/* @media(max-width:400px){
    .container{
        grid-gap: 100px;
    }
} */

@media(max-width: 300px){
    .container{
        grid-template-rows: 30px 1fr 1fr 30px;
        grid-template-columns: 1fr;
        gap: 2px;
        grid-template-areas: 
        "hd"
        "side"
        "main"
        "ft ";
    }
}